@page "/my-profile"
@using administration.viewmodels
@using System.Linq
@using System.Security.Claims
@using application.Commands.Administration
@using application.Query.Streamer
@using MediatR

<h3>My Profile</h3>

<SfGrid DataSource="@Streamers">
    <GridTemplates>
        <DetailTemplate>
            @{
                var streamer = (context as StreamerViewModel);
                <SfGrid TValue="PlatformViewModel" DataSource="streamer.Platforms" AllowPaging="true">
                    <GridPageSettings PageSize="8"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(PlatformViewModel.Name) HeaderText="Name" Width="120"> </GridColumn>
                        <GridColumn Field=@nameof(PlatformViewModel.Url) HeaderText="Url" Width="200"></GridColumn>
                    </GridColumns>
                </SfGrid>
            }
        </DetailTemplate>
    </GridTemplates>
    <GridColumns>
        <GridColumn Field=@nameof(StreamerViewModel.Name) HeaderText="Name" Width="150"> </GridColumn>
        <GridColumn Field=@nameof(StreamerViewModel.Description) HeaderText="Description" Width="450"></GridColumn>
        <GridColumn Field=@nameof(StreamerViewModel.IsStreamer) HeaderText="Streamer" Width="100">
            <Template>
                @{
                    var isStreamer = (context as StreamerViewModel).IsStreamer;
                    <div>@( isStreamer ? "Yes" : "No")</div>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(StreamerViewModel.Technologies) HeaderText="Technologies">
            <Template>
                @{
                    var technologies = (context as StreamerViewModel).Technologies;

                    <div>@(string.Join(", ", technologies.ToArray()))</div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>
<br />
@if (!DialogIsVisible)
{
    <SfButton IsPrimary="true" OnClick="@ShowRemoveDialog">Forget About Me</SfButton>
}

<SfDialog Width="335px" Target="#target" IsModal="true" @bind-Visible="DialogIsVisible">
    <DialogTemplates>
        <Header>Forget about me</Header>
        <Content>
            <p>This will remove your details from developers.stream. Any streams you are listed as the Streamer on will also be removed. Any streams you are associated with will be left without a registered owner, but will not be removed. </p>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@ProceedWithRemove" />
        <DialogButton Content="CANCEL" IsPrimary="false" OnClick="@Cancel" />
    </DialogButtons>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>
@code {

    [Inject] public IMediator Mediator { get; set; }
    [Inject] public AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    public bool DialogIsVisible { get; set; } = false;

    public IEnumerable<StreamerViewModel> Streamers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var identity = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        Streamers = await Mediator.Send(new GetAssociatedStreamers
        {
            Email = identity.User.Claims.Single(c => c.Type == ClaimTypes.Email).Value
        });
    }

    protected void ShowRemoveDialog()
    {
        DialogIsVisible = true;
    }

    protected void Cancel()
    {
        DialogIsVisible = false;
    }

    protected async Task ProceedWithRemove()
    {
        await Mediator.Send(new RemoveUser());

        DialogIsVisible = false;

        NavigationManager.NavigateTo("logout", forceLoad: true);
    }
}