@using viewmodels
<div class="col l4 m6 s1">
    <div class="card">
        <!--<img class="card-img-top" src="@Streamer.ProfilePicture" alt="Profile">-->
        <div class="card-content">
            <h5 class="card-title">@Streamer.Name</h5>
            <p class="card-text">@Streamer.Description</p>
            <!--<a href="@Streamer.Url" class="btn btn-primary">Go to channel</a>-->

            @foreach (var platform in Streamer.Platforms)
            {
                <a href="@(platform.Url)" class="platform-link">
                    <img src="images/@(platform.Name).svg" title="@(platform.Name)" />
                </a>
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public StreamViewModel Streamer { get; set; }
}
