<SfToolbar CssClass="e-bigger">
    <ToolbarItems>
        <ToolbarItem Align="ItemAlign.Left" CssClass="developers-stream-logo">
            <Template>
                <a href="/">
                    <img src="images/developers_stream.svg" alt="developers//stream" title="developers//stream" />
                </a>
            </Template>
        </ToolbarItem>
        <ToolbarItem Align="@ItemAlign.Right">
            <Template>
                <AuthorizeView>
                    <Authorized>
                        <SfButton CssClass="e-warning"
                                  @onclick="@(() => NavigationManager.NavigateTo("logout", true))">Logout</SfButton>
                    </Authorized>
                    <NotAuthorized>
                        <SfButton IsPrimary="true"
                                  @onclick="@(() => NavigationManager.NavigateTo("login?redirectUri=/register", true))">Login</SfButton>
                    </NotAuthorized>
                </AuthorizeView>
            </Template>
        </ToolbarItem>
        <ToolbarItem  Align="@ItemAlign.Right">
            <Template>
                <AuthorizeView Roles="Administrator">
                    <SfButton CssClass="e-info" @onclick="@(() => NavigationManager.NavigateTo("administration"))">Administration</SfButton>
                </AuthorizeView>
            </Template>
        </ToolbarItem>
        <ToolbarItem  Align="@ItemAlign.Right">
            <Template>
                <AuthorizeView Roles="Streamer">
                    <SfButton CssClass="e-info" @onclick="@(() => NavigationManager.NavigateTo("my-profile"))">Profile</SfButton>
                </AuthorizeView>
            </Template>
        </ToolbarItem>
    </ToolbarItems>
</SfToolbar>

<style>
    .e-toolbar {
        height: 64px;
        margin: 0;
        padding: 0;
    }

    .developers-stream-logo {
        margin: 0;
        padding: 0 !important;
    }

    .developers-stream-logo > a > img {
        height: 56px;
        margin: 0;
        padding: 0;
    }

</style>

@code
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }
}
